#########################
# general patterns
#########################

docs/html
docs/tagfile.xml

*/bin/*
!*/bin/data/

# for bin folder in root
/bin/*
!/bin/data/

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout
*.cbTemp

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Codelite
*.session
*.tags
*.workspace.*

#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings

#########################
# packages
#########################

# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite

#########################
# packages
#########################

__local/example-360Player-002/addons.make
__local/example-360Player-002/bin/data/.gitkeep
__local/example-360Player-002/bin/data/DSCN0143.JPG
__local/example-360Player-002/bin/data/sphericalProjection.frag
__local/example-360Player-002/bin/data/sphericalProjection.vert
__local/example-360Player-002/bin/example-360Player-002.exe
__local/example-360Player-002/bin/example-360Player-002.exp
__local/example-360Player-002/bin/example-360Player-002.lib
__local/example-360Player-002/bin/fmodex64.dll
__local/example-360Player-002/bin/fmodexL64.dll
__local/example-360Player-002/bin/FreeImage.dll
__local/example-360Player-002/bin/openvr_api.dll
__local/example-360Player-002/example-360Player-002.sln
__local/example-360Player-002/example-360Player-002.vcxproj
__local/example-360Player-002/example-360Player-002.vcxproj.filters
__local/example-360Player-002/example-360Player-002.vcxproj.user
__local/example-360Player-002/icon.rc
__local/example-360Player-002/src/main.cpp
__local/example-360Player-002/src/ofApp.cpp
__local/example-360Player-002/src/ofApp.h
